/*
 * style.css
 * weather-app
 */
/* Bonne pratique commencer par *, before, after */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: #D5D5D5;
    background: linear-gradient(45deg, rgb(60, 40, 40), rgb(30, 25, 40));
}
.content {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, #1070C6, #FF6026, #663399);
    display: grid;
    grid-template: 10% 10% 50% 15% 15% / repeat(8, 12.5%);
    position: relative;
    border: 1px solid #D5D5D5;
    border-radius: 5%;
}
h1, h2 {
    display: flex;
    justify-content: center; /* centrer sur x (cross-axis) */
    align-items: center;     /* centrer sur y (main-axis) */
}
h1 {
    grid-area: 1 / 1 / 2 / -1; /* début row / début col / fin row / fin col */
}
h2 {
    grid-area: 2 / 1 / 3 / -1; /* début row / début col / fin row / fin col */
    border-bottom: 1px solid #D5D5D5;
}
.logo-info {
    grid-area: 3 / 1 / 4 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 50%;
}
.logo img { 
    width: 80%;
    height: auto;
}
.info {
    width: 50%;
}
.info .weather::first-letter {
    text-transform: capitalize;
}
.info .localisation {
    word-wrap: break-word;
}
.hours-previsions, .days-previsions {
    display: grid;
    grid-template: 100% / repeat(7, 1fr); /* 1 row / 7 colonnes de largeur égale */
}
.hours-previsions {
    grid-area:  4 / 1 / 5 / -1;
}
.days-previsions {
    grid-area:  5 / 1 / 6 / -1;
}
.hour, .day {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid #D5D5D5;
}
.hour:not(:last-child), .day:not(:last-child) {
    border-right: 1px solid #D5D5D5;
}

/* Media queries */
@media screen and (max-width: 12.31250em) { /* 197 */
    h1 {
        font-size: .75rem;
    }   
    h2 {
        font-size: .5rem;
    }
    .info .weather {
        padding-top: 10px;
        font-size: .66rem;
    }
    .info .temp-value {
        margin-top: -20px;
        font-size: 2rem;
    }
    .info .localisation {
        margin-top: -20px;
        font-size: .5rem;
    }
    .hour, .day {
        font-size: .4rem;
    }
    .hour p, .day p {
        margin: 1px;
    }
}
@media screen and (min-width: 12.31251em) and (max-width: 20em) { /* 320 */
    h1 {
        font-size: 1rem;
    }
    h2 {
        font-size: .75rem;
    }
    .info .weather {
        font-size: .9rem;
    }
    .info .temp-value {
        font-size: 2rem;
    }
    .info .localisation {
        font-size: .75rem;
    }
    .hour, .day {
        font-size: .5rem;
    }
    .hour p, .day p {
        margin: 1px;
    }
}
@media screen and (min-width: 20.00001em) and (max-width: 25.93750em) { /* 415 */
    h1 {
        font-size: 1.25rem;
    }
    h2 {
        font-size: 1rem;
    }
    .info .weather {
        font-size: .95rem;
    }
    .info .temp-value {
        font-size: 2.25rem;
    }
    .info .localisation {
        font-size: .85rem;
    }
    .hour, .day {
        font-size: .7rem;
    }
    .hour p, .day p {
        margin: 1px;
    }
}
@media screen and (min-width: 25.93751em) and (max-width: 30em) { /* 480 */
    h1 {
        font-size: 1.75rem;
    }
    h2 {
        font-size: 1.25rem;
    }
    .info .weather {
        font-size: 1.15rem;
    }
    .info .temp-value {
        font-size: 2.8rem;
    }
    .info .localisation {
        font-size: 1.05rem;
    }
    .hour, .day {
        font-size: 1rem;
    }
    .hour p, .day p {
        margin: 2px;
    }
}
@media screen and (min-width: 30.00001em) and (max-width: 35.5em) { /* 568 */
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    .info .weather {
        font-size: 1.25rem;
    }
    .info .temp-value {
        font-size: 3.1rem;
    }
    .info .localisation {
        font-size: 1.1rem;
    }
    .hour, .day {
        font-size: 1.05rem;
    }
    .hour p, .day p {
        margin: 2px;
    }
}
@media screen and (min-width: 35.50001em) and (max-width: 41.68750em) { /* 667 */
    h1 {
        font-size: 2.25rem;
    }
    h2 {
        font-size: 1.75rem;
    }
    .info .weather {
        font-size: 1.45rem;
    }
    .info .temp-value {
        font-size: 3.5rem;
    }
    .info .localisation {
        font-size: 1.15rem;
    }
    .hour, .day {
        font-size: 1.1rem;
    }
    .hour p, .day p {
        margin: 2px;
    }
}
@media screen and (min-width: 41.68751em) and (max-width: 46em) { /* 736 */
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.95rem;
    }
    .info .weather {
        font-size: 1.65rem;
    }
    .info .temp-value {
        font-size: 3.75rem;
    }
    .info .localisation {
        font-size: 1.2rem;
    }
    .hour, .day {
        font-size: 1.15rem;
    }
    .hour p, .day p {
        margin: 2px;
    }
}
@media screen and (min-width: 46.00001em) and (max-width: 50.75em) { /* 812 */
    h1 {
        font-size: 2.75rem;
    }
    h2 {
        font-size: 2.1rem;
    }
    .info .weather {
        font-size: 1.75rem;
    }
    .info .temp-value {
        font-size: 4rem;
    }
    .info .localisation {
        font-size: 1.35rem;
    }
    .hour, .day {
        font-size: 1.25rem;
    }
    .hour p, .day p {
        margin: 2px;
    }
}
@media screen and (min-width: 50.75001em) and (max-width: 56em) { /* 896 */
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2.25rem;
    }
    .info .weather {
        font-size: 1.95rem;
    }
    .info .temp-value {
        font-size: 4.2rem;
    }
    .info .localisation {
        font-size: 1.5rem;
    }
    .hour, .day {
        font-size: 1.35rem;
    }
    .hour p, .day p {
        margin: 2px;
    }
}
@media screen and (min-width: 56.00001em) and (max-width: 64em) { /* 1024 */
    h1 {
        font-size: 3.5rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    .info .weather {
        font-size: 2rem;
    }
    .info .temp-value {
        font-size: 4.5rem;
    }
    .info .localisation {
        font-size: 1.75rem;
    }
    .hour, .day {
        font-size: 1.5rem;
    }
    .hour p, .day p {
        margin: 2px;
    }
}
@media screen and (min-width: 64.00001em) and (max-width: 80em) { /* 1280 */
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.75rem;
    }
    .info .weather {
        font-size: 2.25rem;
    }
    .info .temp-value {
        font-size: 4.75rem;
    }
    .info .localisation {
        font-size: 1.95rem;
    }
    .hour, .day {
        font-size: 1.75rem;
    }
    .hour p, .day p {
        margin: 2px;
    }
}
@media screen and (min-width: 80.00001em) and (max-width: 90em) { /* 1440 */
    h1 {
        font-size: 4.25rem;
    }
    h2 {
        font-size: 3rem;
    }
    .info .weather {
        font-size: 2.5rem;
    }
    .info .temp-value {
        font-size: 5rem;
    }
    .info .localisation {
        font-size: 2.15rem;
    }
    .hour, .day {
        font-size: 2rem;
    }
    .hour p, .day p {
        margin: 2px;
    }
}
@media screen and (min-width: 90.00001em) and (max-width: 100em) { /* 1600 */
    h1 {
        font-size: 4.75rem;
    }
    h2 {
        font-size: 3.25rem;
    }
    .info .weather {
        font-size: 2.75rem;
    }
    .info .temp-value {
        font-size: 5.25rem;
    }
    .info .localisation {
        font-size: 2.35rem;
    }
    .hour, .day {
        font-size: 2.15rem;
    }
    .hour p, .day p {
        margin: 2px;
    }
}

/* I don't have screen for testing up to width: 1600px 
TO BE CONTINUED IN THE NEXT EPISODE */